// Fonts

$font-main: 'Urbanist', sans-serif;
$font-accent: 'Righteous', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Font-size

$lg: 72px;
$md: 48px;

// Colors

$dark-brown: #14110E;
$accent: #C99E71;
$accent-hover: #c99e71c5;
$white: #FFFFFF;
$white-80: rgba(255, 255, 255, 0.8);
$dark: #121315;
$footer_header: #1C1814;
$border-color: #32323D;