.booking__container {
    display: flex;
    justify-content: space-between;

    background-color: $footer_header;
}

.booking__img--container {
    max-width: 585px;
    max-height: 652px;
    overflow: hidden;
}

.booking__img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.booking {
    width: 50%;
}

.booking__titles {
    padding-top: 72px;
}

.booking__table {
    padding: 0 48px;
}

.booking__table-input {
    width: 100%;
    height: 64px;
    padding: 16px 20px;

    margin-bottom: 24px;

    background-color: $dark-brown;
}

.booking__btn {
    margin: 32px auto 72px;
}