.testimonial__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    margin-bottom: 36px;
}

.testimonial__item {
    padding: 40px 40px 37px 40px;
    background-color: $footer_header;
}

.testimonial__content {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    margin-bottom: 28px;
}

.person-img__container {
    width: 129px;
    height: 149px;
    overflow: hidden;

    margin-bottom: 28px;
}

.person_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial__text {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 500;
    line-height: 180%;
    text-transform: capitalize;
    width: 68%;
}

.testimonial__info {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    align-items: end;
}

// .person__info {}

.person__name {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;

    margin-bottom: 4px;
}

.person__profession {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
    text-transform: capitalize;
}

.stars {
    height: 20px;
}



.testimonial__action,
.testimonial-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__count-text {
    display: block;
    margin-bottom: 20px;
    color: $accent;
    font-size: 20px;
}

.testimonial__count-progress {
    appearance: none;
    width: 120px;
    height: 4px;
}

.testimonial__count-progress::-webkit-progress-bar {
    background-color: #2B2926;
}

.testimonial__count-progress::-webkit-progress-value {
    border-radius: 3px;
    background-color: $accent;
}

.testimonial-btn-wrap {
    gap: 16px;
}

.testimonial-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: default;
}

.testimonial-btn_active {
    color: #010102;
    background-color: $accent;
    cursor: pointer;

    transition: all 0.5s;
}

.testimonial-btn_active:hover {
    background-color: $accent-hover;
}